
.cd-icon-apps {
    background-image: url(../images/icons/blackbox.png) !important;
}

.cd-icon-place-home {
    background-image: url(../images/icons/folder_home.png) !important;
}

.cd-icon-place-desktop {
    background-image: url(../images/icons/desktop.png) !important;
}

.cd-icon-place-computer {
    background-image: url(../images/icons/mycomputer.png) !important;
}

.cd-icon-system-prefs {
    background-image: url(../images/icons/prefs.png) !important;
}

.cd-icon-system-admin {
    background-image: url(../images/icons/admin.png) !important;
}

.cd-icon-system-help {
    background-image: url(../images/icons/help.png) !important;
}

.cd-icon-system-about {
    background-image: url(../images/icons/about.png) !important;
}

.cd-icon-system-prefs-about {
    background-image: url(../images/icons/identity.png) !important;
}

.cd-icon-system-prefs-appearance {
    background-image: url(../images/icons/looknfeel.png) !important;
}

.cd-icon-system-prefs-appearance-background {
    background-image: url(../images/icons/background.png) !important;
}

.cd-icon-system-prefs-mainmenu {
    background-image: url(../images/icons/menuedit.png) !important;
}

.cd-icon-system-prefs-sound {
    background-image: url(../images/icons/sound_prefs.png) !important;
}

.cd-icon-system-prefs-windows {
    background-image: url(../images/icons/windows.png) !important;
}

.cd-icon-system-admin-locale {
    background-image: url(../images/icons/locale.png) !important;
}

.cd-icon-system-admin-locale {
    background-image: url(../images/icons/locale.png) !important;
}

.cd-icon-system-admin-login {
    background-image: url(../images/icons/admin_login.png) !important;
}

.cd-icon-system-admin-system {
    background-image: url(../images/icons/config.png) !important;
}

.cd-icon-system-admin-datetime {
    background-image: url(../images/icons/datetime.png) !important;
}

.cd-icon-system-admin-users {
    background-image: url(../images/icons/admin_user.png) !important;
}

.cd-icon-apps-system-addremove {
    background-image: url(../images/icons/addremove.png) !important;
}

.cd-icon-user-status-available {
    background-image: url(../images/icons/available.png) !important;
}

.cd-icon-user-status-away {
    background-image: url(../images/icons/away.png) !important;
}

.cd-icon-user-status-busy {
    background-image: url(../images/icons/busy.png) !important;
}

.cd-icon-user-status-invisible {
    background-image: url(../images/icons/invisible.png) !important;
}

.cd-icon-user-status-offline {
    background-image: url(../images/icons/offline.png) !important;
}

.cd-icon-user-lock {
    background-image: url(../images/icons/lock.png) !important;
}

.cd-icon-user-logout {
    background-image: url(../images/icons/logout.png) !important;
}

.cd-icon-show-desktop {
    background-image: url(../images/icons/desktop.png) !important;
}

.cd-icon-toolbar-add {
    background-image: url(../images/icons/add.png) !important;
}

.cd-icon-toolbar-properties {
    background-image: url(../images/icons/config.png) !important;
}

.cd-icon-window-close {
    background-image: url(../images/icons/close.png) !important;
}

.cd-icon-system-login {
    background-image: url(../images/icons/login.png) !important;
}

.cd-icon-system-notification {
    background-image: url(../images/icons/notification.png) !important;
}

.cd-icon-tip-system-notification {
    background-image: url(../images/icons/notification.png) !important;
    background-repeat: no-repeat !important;
    height: 17px;
    padding-top: 2px;
    padding-right: 3px;
}

.cd-icon-tip-system-notification .x-tip-header-text {
    padding-left: 20px;
}

.cd-icon-app-console {
    background-image: url(../images/icons/console.png) !important;
}

